/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  font-size: 62.5% !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Arcon-Regular";
  src: url("../fonts/Arcon-Regular.woff2") format("woff2"), url("../fonts/Arcon-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arcon-Rounded-Regular";
  src: url("../fonts/Arcon-Rounded-Regular.woff2") format("woff2"), url("../fonts/aArcon-Rounded-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:export {
  primaryColor: #fe4e5e;
  backgroundColor: #fefefe;
  padding: 124px;
}

.main-nav {
  font-family: "Arcon-Regular", Helvetica, Arial, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  color: black;
  font-weight: normal;
  letter-spacing: 3px;
  position: fixed;
  max-height: 50px;
  top: -50px;
  transition-duration: 1s;
  top: 0px;
}
@media (min-width: 0px) {
  .main-nav {
    width: 100%;
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 50px;
    grid-template-areas: "hamburger logo";
  }
}
@media (min-width: 1024px) {
  .main-nav {
    display: grid;
    grid-template-columns: 150px 150px auto;
    grid-template-rows: 50px;
    grid-template-areas: "logo hamburger menu ";
  }
}
.main-nav__logo {
  width: 100px;
  grid-area: logo;
  background-image: url(../../svg/logo.svg), none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 0px) {
  .main-nav__logo {
    height: 50px;
    margin-right: 15px;
    justify-self: end;
    filter: grayscale(100%);
    opacity: 0.8;
    transition-duration: 0.2s;
  }
  .main-nav__logo:hover {
    filter: grayscale(0%);
    opacity: 1;
  }
}
@media (min-width: 1024px) {
  .main-nav__logo {
    width: 100px;
    height: 50px;
    margin-left: 15px;
    justify-self: start;
  }
  .main-nav__logo:hover {
    filter: grayscale(0%);
    transform: translateX(7px);
    opacity: 1;
  }
}
.main-nav__logo-link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.main-nav__list {
  box-sizing: border-box;
  display: none;
}
@media (min-width: 0px) {
  .main-nav__list {
    width: 100%;
    margin-top: 50px;
    position: absolute;
  }
}
@media (min-width: 640px) {
  .main-nav__list {
    padding-top: 50px;
    top: -50px;
    display: block;
    position: absolute;
    left: -200px;
    height: 107vh;
    width: 200px;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
}
@media (min-width: 1024px) {
  .main-nav__list {
    margin-top: 0;
    padding: 0;
    height: auto;
    width: auto;
    position: static;
    grid-area: menu;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    transition-duration: initial;
    background-color: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
}
@media (min-width: 0px) {
  .main-nav__item {
    margin-left: 15px;
  }
}
@media (min-width: 640px) {
  .main-nav__item {
    margin-left: 15px;
  }
}
@media (min-width: 1024px) {
  .main-nav__item {
    margin-left: 0px;
    box-sizing: border-box;
    display: flex;
    min-width: 140px;
  }
}
.main-nav__link {
  transition-duration: 0.1s;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  border-top: 0px solid rgb(255, 255, 255);
}
@media (min-width: 1024px) {
  .main-nav__link {
    justify-content: center;
  }
}
.main-nav__link:hover {
  color: rgb(127, 255, 212);
}
@media (min-width: 640px) {
  .main-nav__link:hover {
    margin-left: 5px;
  }
}
@media (min-width: 1024px) {
  .main-nav__link:hover {
    margin-left: 0px;
    border-top: 3px solid rgb(127, 255, 212);
  }
}
.main-nav__link--active {
  color: rgb(255, 255, 255);
}
@media (min-width: 1024px) {
  .main-nav__link--active {
    border-top: 3px solid rgb(255, 255, 255);
  }
}
.main-nav__hamburger {
  height: 50px;
  width: 50px;
}
@media (min-width: 0px) {
  .main-nav__hamburger {
    position: relative;
    z-index: 1;
    max-width: 50px;
    max-height: 50px;
  }
}
@media (min-width: 1024px) {
  .main-nav__hamburger {
    grid-area: hamburger;
    display: none;
  }
}
.main-nav__hamburger-svg {
  margin: 15px;
  max-height: 20px;
  transition-duration: 0.2s;
}
.main-nav__hamburger-svg > line {
  stroke: rgb(255, 255, 255);
  transition-duration: 0.2s;
}
.main-nav__hamburger-svg:hover {
  transform: scale(1.2);
}
.main-nav__hamburger-svg:hover > line {
  stroke: rgb(127, 255, 212);
}

.home-content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 0px) {
  .home-content {
    width: 100%;
  }
}
@media (min-width: 0px) {
  .home-content__section {
    height: 100vh;
    width: 100%;
  }
  .home-content__section:nth-child(1) {
    background-color: rgb(167, 167, 167);
  }
  .home-content__section:nth-child(2) {
    background-color: rgb(157, 157, 157);
  }
  .home-content__section:nth-child(3) {
    background-color: rgb(147, 147, 147);
  }
}

@media (min-width: 0px) {
  .header {
    height: 100vh;
    width: 100%;
    background-color: rgb(177, 177, 177);
  }
}

.footer {
  width: 100%;
  height: 150px;
  background-color: black;
}/*# sourceMappingURL=app.css.map */