@use "core/reset";
@use "abstracts";
@use "components/horizontal-main-nav";
@use "sections/home-section";
@use "sections/footer";

body{
  background-image: url("../img/jpg/hero.jpg");
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}