@use '../abstracts' as a;

$first-color: rgb(230, 230, 230);

.section {
  grid-template-columns: none;
  @include a.font-arcon-regular(a.rem(16px), black, normal);
  //@include a.font-cpmono(a.rem(16px), black, normal);
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr  0fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;

  &__desc {
    background-color: rgba(14,14,17,0.9);
    width: 100%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
  }

  &__desc-text {
    //background-color: red;
    display: block;
    padding: 50px;
    font-size: 2.5em;
    top: 150px;
    left: 50px;
    width: 100%;
    height: auto;
    font-weight: 800;
    line-height: 80px;
    word-spacing: 20px;

    &-decoration {
      color: aquamarine;
      letter-spacing: 7px;
      border-radius: 30px;
      //background-color: white;
      word-spacing: 2px;
      padding-top: 5px;
      padding-bottom: 5px;
      
      &--color {
        color: #0e0e11;
        background-color: white;
      }
    }
  }

  &__img-container {
    width: 100%;
    height: 100%;
 }
}

.section {

  &:nth-child(2) &__img-container {
    background: linear-gradient(0.5turn,
     rgba(121, 255, 255, 0.2),
     rgba(127, 255, 212,0.2));
  }

  &:nth-child(3) &__desc {

    &-text {
      color: black;

    }
    background-color: aquamarine;
  }

  &:nth-child(4) {
    display: grid;
    grid-template-columns: 1fr;
  }
  &:nth-child(4) &__desc {
    background-color: rgba(255,255,255,0.6);
  }


}