@use '../abstracts' as a; //We can use it because of _index.scss in abstract folder and forward.

$color1: a.$first-color; 
$color2: a.$second-color;
$color3: a.$third-color;



//Menu fonts
$menu-font-size: 16px;
$letter-spacing: 1px;

//Menu sizes
$menu-height: 50px;
$menu-logo-box: 110px;
$menu-list-tablet-width: 300px;
$common-margin: 15px;

.main-nav {
  
  @include a.font-semplicita(a.rem($menu-font-size), black, normal);
  //@include a.font-cpmono(a.rem($menu-font-size), black, normal);
  letter-spacing: $letter-spacing;
  //background-color: red;
  position: fixed;
  max-height: $menu-height;
  top: -$menu-height;
  transition-timing-function: ease-out;
  transition-duration: 0.7s;
  top: 0px;
  
  
  @include a.breakpoint-min("zero") {
    width: 100%;
    display: grid;
    grid-template-columns: $menu-height auto;
    grid-template-rows: $menu-height; 
    grid-template-areas: "hamburger logo";
    background-color: a.$third-color;
  }

  @include a.breakpoint-min("tablet-small") {
    background-color: unset;
  }

  @include a.breakpoint-min("tablet-wide") {
    display: grid;
    grid-template-columns: $menu-logo-box 150px auto;
    grid-template-rows: $menu-height;
    grid-template-areas: "logo hamburger menu";
  }
  
  // LOGO
  &__logo {
    
    // logo positioning
    width: $menu-logo-box;
    grid-area: logo;
    padding-left: 15px;
    padding-right: 15px;

    
    
    @include a.breakpoint-min("zero") {
      height: $menu-height;
      justify-self: end;
    }

    @include a.breakpoint-min("tablet-wide") {
      height: $menu-height;
      justify-self: start;
    
    }

    &-link {
      background-image: url(../svg/logo-text-light.svg), none;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      

      @include a.breakpoint-min("zero") {
        transition-duration: .2s;  
  
        &:hover {
          transform: translateX(-10px);
        }
      }

      @include a.breakpoint-min("tablet-wide") {
        &:hover {
          transform: translateX(10px);
        }
      }
    }
  }

  // LIST
  &__list {
    box-sizing: border-box;
    //background-color: rgb(228, 237, 160);
    display: none; // js changes

    @include a.breakpoint-min("zero") {
      width: 100%;
      margin-top: $menu-height;
      position: absolute;
      background-color: a.$third-color;
      opacity: 0.9;
      backdrop-filter: blur(2px);// brightness(0.2);
    }

    @include a.breakpoint-min("tablet-small") {
      
      padding-top: calc($menu-height + 10px);
      top: -$menu-height;
      display: block;
      position: absolute;
      left: -$menu-list-tablet-width;
      height: 107vh;
      width: 300px;
      transition-duration: 0.7s;
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
      //background-color: rgba(14, 17, 17, 0.2);
      //backdrop-filter: blur(2px) brightness(0.4);
    }

    @include a.breakpoint-min("tablet-wide") {
      margin-top: 0;  
      padding: 0;
      height: auto;
      width: auto;
      position: static;
      grid-area: menu;
      height: $menu-height;
      display: flex;
      justify-content: flex-end;
      transition-duration: initial;
      background-color: rgba(255,255,255,0);
      backdrop-filter: none;

    }

  }

  &__item {


    // @include a.breakpoint-min("zero") {
    //   margin-left: 0px;
    // }
    
    // @include a.breakpoint-min("tablet-small") {
    //   margin-left: $common-margin;
    // }

    @include a.breakpoint-min("tablet-wide") {
      margin-left: 0px;
      box-sizing: border-box;
      display: flex;
      min-width: 180px;
    }
  }
  
  &__link {   
    box-sizing: border-box;
    transition-duration: 0.1s;
    color: $color2;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    height: calc($menu-height - 15px);
    border-top: 0px solid $color2;

    @include a.breakpoint-min("zero") {
      justify-content: center;
    }

    @include a.breakpoint-min("tablet-small") {
      justify-content: left;
      padding-left: $common-margin;
    }

    @include a.breakpoint-min("tablet-wide") {
      justify-content: center;
      padding-left: 0px;
    }

    &:hover, &:focus {
      
    
      @include a.breakpoint-min("zero") {
        color: $color1;
        background-color: rgba(255, 255, 255, 0.1);
      }

      @include a.breakpoint-min("tablet-small") {
        color: $color1;
        background-color: unset;
        margin-left: 5px;
      }

      @include a.breakpoint-min("tablet-wide") {
        margin-left: 0px;
        border-top: 3px solid $color1;
      }
    }

    &--active {
      
      color: $color2;

      @include a.breakpoint-min("tablet-wide") {
        border-top: 3px solid $color2;
      }
    }
  }

  &__hamburger {
    height: $menu-height;
    width: $menu-height;

    @include a.breakpoint-min("zero") {
      position: relative;
      z-index: 1;
      max-width: $menu-height;
      max-height: $menu-height;
    }

    @include a.breakpoint-min("tablet-wide") {
      grid-area: hamburger;
      display: none;
    }
  }

  &__hamburger-svg {
    $margin-hamburger: $common-margin;

    margin: $margin-hamburger;
    max-height: calc($menu-height - 2 * $margin-hamburger);

    transition-duration: 0.2s;

    & > line {
      stroke: $color2;
      transition-duration: 0.2s;
    }

    &:hover  {
      transform: scale(1.2);
    }
    &:hover > line {
      stroke: $color1;
    }
  }


  
}