// @import 'https://fonts.googleapis.com/css2?family=Lato&display=swap';

// https://www.youtube.com/watch?v=KzqQXDbDvus

@font-face {
  font-family: 'Arcon-Regular';
  src: url('../fonts/Arcon-Regular.woff2') format('woff2'),
       url('../fonts/Arcon-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Arcon-Rounded-Regular';
  src: url('../fonts/Arcon-Rounded-Regular.woff2') format('woff2'),
       url('../fonts/aArcon-Rounded-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}