// @import 'https://fonts.googleapis.com/css2?family=Lato&display=swap';

// https://www.youtube.com/watch?v=KzqQXDbDvus

@font-face {
  font-family: 'Arcon-Regular';
  src: url('../fonts/Arcon-Regular.woff2') format('woff2'),
       url('../fonts/Arcon-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Arcon-Rounded-Regular';
  src: url('../fonts/Arcon-Rounded-Regular.woff2') format('woff2'),
       url('../fonts/aArcon-Rounded-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* --- CPMono -------------------------------------------------------------- */
@font-face {
  font-family: 'CPMono_Bold';
  src: url('../fonts/CPMono/CPMono_v07_Bold.woff2') format('woff2'),
       url('../fonts/CPMono/CPMono_v07_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CPMono_ExtraLight';
  src: url('../fonts/CPMono/CPMono_v07_ExtraLight.woff2') format('woff2'),
       url('../fonts/CPMono/CPMono_v07_ExtraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CPMono_Light';
  src: url('../fonts/CPMono/CPMono_v07_Light.woff2') format('woff2'),
       url('../fonts/CPMono/CPMono_v07_Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CPMono_Black';
  src: url('../fonts/CPMono/CPMono_v07_Plain.woff2') format('woff2'),
       url('../fonts/CPMono/CPMono_v07_Plain.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}